body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.anchor {
  display: flex;
  margin-top: 0.25rem;
  width: 25rem;
  justify-content: space-between;
}

.anchor:first-child {
  margin-top: 0rem;
}

.anchor-admin-input {
  margin: 0;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  height: 0.75rem;
}

.anchor-admin-input:first-child {
  margin-top: 0;
}
